h1 {
    font-size: 40px;
    font-weight: bold;
}
#Button1 {
    font-size: 18px;
    border-radius:50px;
}
#Button2 {
    font-size: 18px;
    border-radius:50px;
}
#Button3 {
    font-size: 18px;
    border-radius:50px;
}
#Button4 {
    font-size: 18px;
    border-radius:50px;
}
#Button5 {
    font-size: 18px;
    border-radius:50px;
}